# aws access key can be obtained at https://dcd.ionos.com/latest/#/key-management
# aws_access_key_id=xxx

# aws secret access key can be obtained at https://dcd.ionos.com/latest/#/key-management 
# aws_secret_access_key=xxx